body {
  min-height: 658px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.header {
  min-height: 100%;
  background-color: #175A84;
}


.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  list-style-type: none;
}

.nav-item {
  margin-right: 100px;
}

.logo {
  margin-right: auto;
}

.nav-link {
  padding: 20px 35px;
  border: 2px solid #fff;
  border-radius: 15px;
  color: deeppink;
  background-color: lawngreen;
}

.logo a {
  font-family: 'Rowdies', cursive;
  font-size: 32px;
  color: lawngreen;
  border: none;
  background-color: transparent;
}

.nav-link:hover {
  
  padding: 20px 35px;
  border: 2px solid #fff;
  border-radius: 15px;
  color: lawngreen;
  background-color: deeppink;
}

main {
  background-color: #F8E3C3;
  flex-grow: 1;
}

.footer{
  
  background-color: #43474A;
  color: aliceblue;
  outline: 2px solid yellow;
}

