<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Rowdies:wght@700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="bootstrap-4.5.0-dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
  <header class="header">
      <nav>
          <ul class="nav-list">
              <li class="nav-item logo"><a href="" class="nav-link">Logo</a></li>
              <li class="nav-item"><a href="" class="nav-link">Feedback form</a></li>
              <li class="nav-item"><a href="" class="nav-link">Registration</a></li>
              <li class="nav-item" ><a href="" class="nav-link">Login</a></li>
          </ul>
      </nav>
  </header>
  <main>
    <h1 class="main-title">Feedback form</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <form action="/echo" method="post" oninput="daysoutput.value=dayscount.value">
                <fieldset>
                 <legend>Review</legend>
                    <textarea id="4" rows="5" cols="50">Write something!</textarea>
                </fieldset>
                <div class="buttons">
                    <input type="submit" value="Оценить">
                    <input type="reset" value="Сбросить">
                </div>
            </form>
        </div>
        <div class="col-md-6">

          <div class="row">
            <div class="col-12">
               <div class="row">
                  <div class="col-6">
                    <img src="../img/gust.jpg" alt="avatar" width="50" height="50">
                  </div>
                  <div class="col-6">
                    <h3>Gust</h3>
                    <p>Comment</p>
                  </div>
                </div>
            </div>
            <div class="col-12">
               <div class="row">
                  <div class="col-6">
                    <img src="../img/Tom.jpg" alt="avatar" width="50" height="50">
                  </div>
                  <div class="col-6">
                    <h3>Tom</h3>
                    <p>Comment</p>
                  </div>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          Contacts
        </div>
        <div class="col-sm">
          Social icon
        </div>
        <div class="col-sm">
          Copyright
        </div>
      </div>
    </div>
  </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="bootstrap-4.5.0-dist/js/bootstrap.min.js"></script> </body>
</html>