body {
  min-height: 658px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  font-family: 'Lobster', cursive;
}

.header {
  min-height: 100%;
  background-color: #175A84;
  box-sizing: border-box;
}

.header nav {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  justify-content: flex-start;
}

.avatar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  margin: auto;
}

.avatar span {
  color: gold;
  font-size: 18px;
}

nav img {
  border: 4px solid yellow;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  list-style-type: none;
}

.nav-item {
  margin-right: 100px;
}

.logo {
  margin-right: auto;
}


.nav-item>a {
  padding: 20px 35px;
  border: 2px solid #fff;
  border-radius: 15px;
  color: deeppink;
  background-color: lawngreen;
}

.logo a {
  font-family: 'Rowdies', cursive;
  font-size: 32px;
  color: lawngreen;
  border-color: transparent;
  background-color: transparent;
}

.nav-item a:hover {
  padding: 20px 35px;
  border: 2px solid #fff;
  border-radius: 15px;
  color: lawngreen;
  background-color: deeppink;
}

.active a {
  background: blueviolet;
}

main {
  background-color: #F8E3C3;
  flex-grow: 1;
}

.main-title {
  text-align: center;
  margin-bottom: 50px;
}

.avatar {
  border: 5px solid red;
}

.form-btn {
  text-align: center;
  margin: 50px 0;
  border-radius: 15px;
}

.footer{
  min-height: 120px;
  background-color: #43474A;
  color: aliceblue;

}

